<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Here are some links to help you start: </h2>

<!-- <input type="text" WholeNumber isedit="true" name ="name"/>
<button (click)="updateProduct()" >updateProduct</button>
<ngbd-modal-stacked></ngbd-modal-stacked> -->
<div class="container">
<div class="menudiv">
  <nav>
    <a routerLink="" routerLinkActive="active">home</a><br/>
    <a routerLink="/chkform" routerLinkActive="active">checkbox form</a>
  </nav>
</div>
<div class="contentdiv">
<router-outlet></router-outlet>
</div>
</div>